.container
  .row
    .col-md-4
      = link_to 'Back', category_path(category)
      \|
      = link_to 'Show', category_product_path(category, product)
.container
  .jumbotron
    .row
      .col-md-12
        %h1 Editing product
        = render 'form'
